<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    {{!-- jQuery --}}
    <script src="https://code.jquery.com/jquery.js"></script>
    {{!-- JS --}}
    <script src="../../public/assets/js/burger.js"></script>
    {{!-- Bootstrap --}}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    {{!-- CSS --}}
    <link rel="stylesheet" href="../public/assets/css/burger_style.css" type="text/css">
    <!-- Font Awesome Icons -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Eat-Da-Burger</title>

</head>
    <body>

        {{{ body }}}

    </body>
</html>